body{
    background-repeat: no-repeat;
}
nav{
 display: inline;
 align-items: baseline;
 margin:0;
 padding:0;
 /* position: fixed; */
 top: 0;
 left: 0;
 right: 0;
}
nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
#logo{
 width: 75px;
 height: 75px;
 margin: 35px 10px 10px 35px;
}
li{
 display: inline;
}
button{
    margin-top: 45px ;
    background: none;
    border-radius: 15px;
    height: 35px;
    width:100px;
    border-width: 2px;
    border-color: blue;
    color: blue;
    cursor:pointer;
}
#btn-1{
    margin-right:20px ;
    
}
#btn-2{
 margin-right: 20px;
}
#btn-3{
    margin-right: 20px;
}
p{
    text-align: center;
}
#cont{
    width: 600px;
    height: 350px;
}
.logo{
    
    width: 60px;
    height: 40px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td {
    font-size: larger;
}
tr{
 margin-top: 20px;
 margin-bottom: 20px ;
}
#main{
    margin-top: 10%;
}
@media only screen and (min-width: 320px) and (max-width: 480px)  {
    p#mylogo {
        align-self: normal;
    }
#logo {
    width: 23vh;
    height: 10vh;
    margin: 4vh auto -3vh auto;
}
nav{
    display: flex;
    flex-direction: column;
}
#cont{
    width: -webkit-fill-available;
    height: 26vh;
    margin-top: auto;
}
nav ul {
    display: flex;
    flex-direction: row;
    /* margin-top: auto;
    margin-left: auto; */
    margin: auto;
}
ul{
    margin-top: 0px;
}
}
@media only screen and (min-width: 481px) and (max-width: 708px){
    nav {
        display: flex;
        align-items:normal;
      }
      
      ul {
        margin-left: auto;
        display: flex;
        list-style-type: none;
        align-items: center;
      }
      
      li {
        float: none;
        margin-left: 10px;
      }
      
      #mylogo {
        margin-right: auto;
      }
      #cont {
        width: -webkit-fill-available;
        margin-top: -6vh;
        margin-left: 7vh;
        margin-right: 7vh;
        height: 28vh;
    }
    }

@media only screen and (min-width: 709px) {
    nav {
        display: flex;
        align-items:normal;
      }
      
      ul {
        margin-left: auto;
        display: flex;
        list-style-type: none;
        align-items: center;
      }
      
      li {
        float: none;
        margin-left: 10px;
      }
      
      #mylogo {
        margin-right: auto;
      }
      #cont {
        width: -webkit-fill-available;
        height: 37vh;
        margin: -8vh 7vh 2vh 7vh;
    }
}
